@import "../../../vars.css";

.container {
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-align: center;
}

.content {
  display: flex;
  margin-top: 51px;
  flex-direction: row;

}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.skillInfo{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}



.skillTitle {
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-align: center;
  border-bottom: white;
  border-bottom-style: solid;
  border-width: 0.01px;
  padding-bottom: 10px;
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.skillImageContainer img {
  width: 30px;
}

.skill p {
  font-size: 15px;
  font-family: var(--font-roboto);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}


.containerMotion {
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 30px;
  width: 80vw;
  margin-top: 40px;
}


.itemMotion {
  border-radius: inherit;
  cursor: grabbing;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  padding: 10px;
  min-width: 200px;
  margin-left: -20vw;
  background-color: var(--color-bg);

}

.itemMotionBack {
  border-radius: inherit;
  cursor: grabbing;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  padding: 10px;
  margin-left: 20vw;
  min-width: 200px;
  background-color: var(--color-bg);

}



@media screen and (max-width: 967px) {

  .title {
    font-size: 30px;
  }


  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }


  .skills {
    width: 100%;
    flex-direction: column;
    gap: 50px;

  }

  .history {
    width: 100%;
    gap: 9px;
  }

  .itemMotionBack {
    margin-left: 0;
    min-width: 150px;
  }

  .itemMotion {
    margin-left: 0;
    min-width: 150px;
  }
  
}




