:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --text-dark: #04152d;
  --bg-grey: rgb(14 14 14 / 78%);


  /* Fonts */
  --font-roboto: "Roboto";
}